.menu-icon {
    cursor: pointer;
    font-size: 30px;
    margin: 10px; /* Отступ для иконки меню */
    position: absolute; /* Позиционирование для перемещения влево */
    left: 20px; /* Отступ слева */
    top: 5px; /* Отступ сверху, можно изменить при необходимости */
    z-index: 1000; /* Обеспечивает, что иконка находится поверх других элементов */
}

.dropdown-menu {
    position: absolute; /* Абсолютное позиционирование для выпадающего меню */
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный фон */
    border: 1px solid #ccc; /* Граница для меню */
    border-radius: 4px; /* Скруглённые углы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для меню */
    z-index: 999; /* Поверх других элементов, но под иконкой */
    display: none; /* Скрываем меню по умолчанию */
    left: 20px; /* Устанавливаем отступ слева под иконкой */
    top: 50px; /* Устанавливаем отступ сверху, чтобы меню находилось прямо под иконкой */
}

.dropdown-menu.show {
    display: block; /* Показываем меню при добавлении класса show */
}

.dropdown-menu ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 10px; /* Отступы внутри меню */
    margin: 0; /* Убираем внешние отступы */
}

.dropdown-menu li {
    padding: 8px 12px; /* Отступы для пунктов меню */
    cursor: pointer; /* Указатель при наведении */
}

.dropdown-menu li:hover {
    background-color: #f0f0f0; /* Цвет фона при наведении */
}